.login-page-card {
  padding: 25px;
  width: 400px;
  margin: 0 auto;
}

.age-limit-section {
  display: flex;
  gap: 15px;
}

.flex-gap-15 {
  width: 100%;
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.no-wrap-ellipsis {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-header-text {
  font-size: 1rem !important;
  font-weight: bold !important;
}

.class-card-cont {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow-x: auto;
  padding: 10px;
}

.add-class-btn {
  color: white;
  text-transform: none !important;
  font-weight: bold !important;
  font-size: 1.1rem !important;
  width: fit-content !important;
}

@media (max-width: 750px) {
}

@media (max-width: 500px) {
  .login-page-card {
    padding: 15px;
    width: 250px;
  }
}
