.login-page-card {
  padding: 25px;
  width: 400px;
  margin: 0 auto;
}


.age-limit-section {
  display: flex;
  gap: 15px;
}

.flex-gap-15 {
  width: 100%;
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.no-wrap-ellipsis {
  max-width: 100%;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowing content */
  text-overflow: ellipsis; /* Display ellipsis (...) for overflowed content */
}

.table-header-text {
  font-size: 1rem !important;
  font-weight: bold !important;
}





@media (max-width: 750px) {

}

@media (max-width: 500px) {
  .login-page-card {
    padding: 15px;
    width: 250px
  }
}